<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="mediaContent">
            <div class="mediaContainer" id="settingsMediaButton">
                <img src="assets/images/icons/custom/settings.svg" class="mediaSVG" alt="paramètres">
                <span class="mediaLabel">paramètres</span>
            </div>
            <div class="mediaContainer" id="modsMediaButton">
                <img src="assets/images/icons/custom/mods.svg" class="mediaSVG" alt="mods">
                <span class="mediaLabel">mods</span>
            </div>
            <div class="mediaContainer">
                <img src="assets/images/icons/custom/actus.svg" class="mediaSVG" alt="actus">
                <span class="mediaLabel">actus</span>
            </div>
            <div class="mediaContainer">
                <img src="assets/images/icons/custom/link.svg" class="mediaSVG" alt="site web">
                <span class="mediaLabel">site web</span>
            </div>
            <div class="mediaContainer">
                <img src="assets/images/icons/custom/discord.svg" class="mediaSVG" alt="discord">
                <span class="mediaLabel">discord</span>
            </div>
        </div>
        <div id="content">
            <div style="position:absolute; z-index:-1;">
                <img id="menuBgLogo"
                    src="assets/images/logos/logobckgrnd.png"
                    loading="eager"
                    fetchpriority="high"
                    decoding="sync"
                    style="position:absolute; left:-280px; top:90px; width:450px; height:443px;">
            </div>
        </div>
        <div id="right">
            <div id="rightContainer">
                <!-- === SERVER CARDS === -->
                <div class="serverCard" id="serverCardSurvie">
                    <div class="serverCard-left">
                        <img src="assets/images/icons/custom/survie.svg" alt="Survie" class="serverIcon">
                        <div class="serverStatusDot" id="statusSurvie"></div>
                    </div>
                    <div class="serverCard-right">
                        <div class="serverName">Survie</div>
                        <div class="serverStatus">Offline</div>
                    </div>
                </div>
                <div class="serverCard" id="serverCardAnarchy">
                    <div class="serverCard-left">
                        <img src="assets/images/icons/custom/anarchy.svg" alt="Anarchy" class="serverIcon">
                        <div class="serverStatusDot" id="statusAnarchy"></div>
                    </div>
                    <div class="serverCard-right">
                        <div class="serverName">Anarchy</div>
                        <div class="serverStatus">Offline</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                </div>
            </div>
        </div> 
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button">
                        <span class="launch_text"><%- lang('landing.launchButton') %></span>
                        <span class="launch_loading_text">Chargement...</span>
                        <span class="launch_progress_text">0%</span>
                        <div class="launch_fill"></div>
                    </button>
                    <!--<div class="bot_divider"></div>
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>-->
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>
